{%extends 'base.html'%}
{%block content%}
<form action="/teams/{{team_to_edit.id}}" method="post" class='edit_team'>
    <div>
        <label for="team_name">Team Name:</label>
        <input type="text" id="team_name" name="team_name" placeholder="Team Name" value="{{team_to_edit.team_name}}" required autofocus>
    </div>

    <div>
        <label for = "points">Points</label>
        <input type="number" id="points" name="points" value ={{team_to_edit.points}} placeholder = "0" required>
    </div>

    <div>
        <label for = "wins">Wins</label>
        <input type="number" id="wins" name="wins" value ={{team_to_edit.wins}} placeholder = "0" required>
    </div>

    <div>
        <label for = "losses">Losses</label>
        <input type="number" id="losses" name="losses" value ={{team_to_edit.losses}} placeholder = "0" required>
    </div>
    <button type="submit">Submit Changes</button>

</form>

{% endblock %}