{% extends "base.html"%}
{% block content %}
<h1>Teams</h1>
{% for team in list_of_teams %}
<div class="team">
  <div class = "content">
    {{team.team_name}}
    <div class="points">
      <span class = 'points'>{{team.points}} Points</span>
    </div>
    <div class="wins">
      <span class = 'wins'>{{team.wins}} Wins</span>
    </div>
    <div class="losses">
      <span class = 'losses'>{{team.loss}} Losses</span>
    </div>
    <p><a href="/teams/edit">Edit</a></p>

<br>
{%endfor%}

    </div>
  </div>
</div>
  {% endblock %}