{% extends "base.html"%}
{% block content %}
<h1>Teams</h1>
{% for team in list_of_teams %}
<div class="team">
  <div class = "content">
    {{team.team_name}}
    <div class="points">
      <span class = 'points'>{{team.points}} Points</span>
    </div>
    <div class="wins">
      <span class = 'wins'>{{team.wins}} Wins</span>
    </div>
    <div class="losses">
      <span class = 'losses'>{{team.losses}} Losses</span>
    </div>
    <p><a href="/teams/{{team.id}}">Edit</a></p>

    <form action= "/teams/{{team.id}}/delete" method="POST">
      <input class="btn btn--danger" type="submit" value="delete" />
    </form>
<br>
    </div>
  </div>
</div>
{%endfor%}

  {% endblock %}