{% extends "base.html"%}
{% block content %}
<h1>Games</h1>

<table class='game_box'>
    <tr>
    
    </tr>
    {% for game in games %}
    <div class= 'game'>
      <div class='content'>
        {{game.name}}
      </div>
      <div class="teams">
        <span class='teams'> {{game.team1.team_name}} vs {{game.team2.team_name}} <br> {{game.team1_score}} : {{game.team2_score}}</span>
      </div>
      <div class="winner">
        {% if game.team1_win ==True%}
        {{game.team1.team_name}} were the winner!!
        <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
        {%else%} 
        {{game.team2.team_name}} was the winner!!
        <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>

        {%endif%}
        <br>
        <hr>
      </div>
    </div>
    <tr>

    </tr>
    {% endfor %}
  </table>
  {% endblock %}