{% extends "base.html"%}
{% block content %}


<form action="/games" method="post">
    <div>
        <label for="name">Game Name:</label>
        <input type="text" id="name" name="name" placeholder="Game Name" required>
    </div>

    <div>
        <label for = "team1_score">Team 1 Score</label>
        <input type="number" id="team1_score" name="team1_score" placeholder = "0" required>
    </div>

    <div>
        <label for = "team2_score">Team 2 Score</label>
        <input type="number" id="team2_score" name="team2_score" placeholder = "0" required>
    </div>

    <div>
        <label for = "team1">Team 1</label>
        <select id="team1" name="team1_id" required>
            {% for team in list_of_teams %}
            <option value="{{team.id}}">{{team.team_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for = "team2">Team 2</label>
        <select id="team2" name="team2_id" required>
            {% for team in list_of_teams %}
            <option value="{{team.id}}">{{team.team_name}}</option>
            {% endfor %}
        </select>

    </div>
    <div >
        <label for = 'team1_win'>Did team 1 win?</label>
        <select name="team1_win" id='team1_win'>                
            <option value = "true"> Winner</option>
            <option value = "false">Loser</option>
        </select>  
    </div>
    <div >
        <label for = 'team2_win'>Did team 2 win?</label>
            <select id="team2_win" name="team2_win" required>
                <option value = "true"> Winner</option>
                <option value = "false"> Loser</option>
            </select>  
    </div>

    <button type="submit">Add Game</button>

</form>

{% endblock %}
