<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Score Keeper</title>     <title>Score Keeper</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body class="flex flex--row">
        <header>
            <nav>
                <ul class="menu">
                    <li> <a href="/">Home</a></li>
                    <li> <a href="/games">Games</a></li>
                    <li> <a href="/teams">Teams</a></li>
                    <li> <a href="/games/new">New Game</a></li>
                    <li> <a href="/teams/new">New Team </a></li>
                    
                </ul>
            </nav>
        </header>
        <div class = 'container'>
            {% block content %}
            {% endblock %}
        </div>       
    </body>
</html>